
/* Basic Css */
:root {
    --bgcolor: #fff;
    --color: #323232;
    --colorMain: #3548b6;
    --colorMainL: #4b60db;  /* L for light*/
    --colorMainD: #2a3577;  /* D for dark*/
    --colorDist:  #B5A33F; /* Dist for distinct/complimentary */
  }
  
  html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  *,
  *:before,
  *:after {
       box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: var(--color);
    background-color: var(--bgcolor);
    font-family:'Source Sans Pro','Segoe UI', Tahoma, sans-serif;
    font-size: 2.2rem;
    -webkit-overflow-scrolling: touch;   
    overflow-y: scroll;   
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 4rem;
    color: var(--colorMain);
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  h4,
  h5,
  h6 {
    font-size: 100%; 
  }
  
  
  p {
    line-height: 1.45;
    margin-bottom: 3.5rem;
    text-align: center; 
    font-weight: 300;
  }

  p:last-of-type {
   margin-bottom: 0;
  }
  
  small {
   font-size: 1.5rem;
  }
 
  a:link,
  a.visited {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--colorMain);
  }
  
  li {
    list-style-type: none;
  }
  
  img {
   vertical-align: middle;
   padding: 10px;
   width: 100%;
   max-width: 100%;
   height: auto;
  }
  
  blockquote {
   position: relative;
   font-weight: bold;
   border-top: 1px dashed #cacaca;
   border-bottom: 1px dashed #cacaca;
   text-align: left;
   line-height: 1.6em;
   font-size: 100%;
   padding: 20px 5em;
  }
  
  blockquote:before {
   content: "\201c";
   position: absolute;
   left: 30px;
   color: #ededed;
   font-size:  10rem; 
   top: 50px;
  }

  /* UI components */
  a.btn {
    padding: .8rem 3rem;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 300;
  }

  a.btn:hover,
  a.btn:focus {
    font-weight: 700;
  }

  a.btn_norm {
    color: var(--colorAlt);
    background-color: var(--colorMain);
  }

  a.btn_norm:hover,
  a.btn_norm:focus {
    color: var(--colorMain);
    background-color: var(--colorAlt);
  }

  a.btn_alt {
    color: var(--colorMain);
    background-color: var(--colorAlt);
  }

  a.btn_alt:hover,
  a.btn_alt:focus {
    background-color: var(--bgcolorAlt);
  }

  a.btn_rev {
    background-color: transparent;
    color: var(--colorMain);
    border-color: var(--colorMain);
  }

  a.btn_dist {
    background-color: var(--colorDist);
    color: var(--colorAlt);
   }

  a.btn_dist:hover,
  a.btn_dist:focus {
    background-color:var(--colorAlt);
    color: var(--colorDist);
    border-color: var(--colorDist);
  }

/* classes and ids */

  /* Header */
  header {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 10vh;  
    padding: 0;
    margin: 0;
  }

  .nav_toggle {
    font-size: 4rem;
    font-weight: 300;
    color: var(--colorMain);
    padding-right: 20px;
    display:none;
  }

  .nav_link {
    margin: 0;
    padding: 0;
  }

  .nav_brand {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 20px 0;
    padding: 0;
    padding-left: 3%;
  }
 
.nav_link a {
    padding: 0;
    margin: 0 .5vw 0;
    font-size: 2rem;
  }

.nav_brand a {
    font-size: 3.5rem;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
  }
 
  .nav_link a:link,
  .nav_link a:visited,
  .nav_brand a:link,
  .nav_brand a:visited {
    color: var(--colorMain);
    font-weight: 600; 
  }

  .nav_brand a:hover,
  .nav_brand a:focus,
  .nav_link a:hover,
  .nav_link a:focus  {
    color: var(--colorMainD);
    border-bottom: 1px solid var(--colorMainD);
  }

 .tagline {
     font-style: oblique;
     margin-top: 1rem;  
 }

 .image_profile {
    width: 10rem;
    border-radius: 100%;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: flex-start; 

  }
/* Media queries start here */
  
main.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 10vh;  
  padding: 0;
  margin: 20px 0;
  background-color: var(--bgcolor);
  width: 100%;
}

.homepage h1,
.homepage p {
  text-align: left;
}

footer {
  display: grid;
}
/* Media at 700px max width */
@media all and (max-width: 700px) {

/* Navigation */

  .nav_link a {
    font-size: 100%;
    padding: 2vw 2.3vh;
    margin: 0 auto;
  }
  
  .nav_brand a {
    font-size: 2.5rem;
  }
  
} 
/* Media at 550px max-width */
  @media all and (max-width: 550px) {
    
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em
  }
  
}
/* Media at 350px max-width */
  
  @media all and (max-width: 370px) {
    body {
      min-width: 300px;
    }
    
    .nav_brand a {
      font-size: 90%;
    }
  
  }
  
  